body {
    background: #f2f2f2;
}
img { width: 100%;}
header .banner {
    background: url("../img/detail/banner.jpg");
    max-height: 600px;
    height: 600px;
}

section article:nth-child(2n+1){
    flex-direction:  row-reverse;
}
p,a {
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.carrousel {
    margin : 1rem;

    
}
@media (min-width: 768px) {
    .carrousel{
        margin: 0 150px;
    }
}